.required:after {
    content:" *";
    color: red;
  }

  body{
    background-image: url('../images/d.jpg');
  }
  label{
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
  }